@import url(./reset.css);

body{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(5, 1fr);
gap: 10px;
}

.header, .footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: sticky;
    left: 0;
    width: 100%;
    z-index: 100;
    height:20%;
}

.header {
    top: 0;
    background-color:crimson
}

.footer {
    bottom: 0;
    background-color:orange;
}

.wrapper { /*First wrapper, wraps main content and the asides*/
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.main-content { /*Contains content-item and its wrapper, and the paragraph element*/
    display: grid;
    grid-template-columns: 1fr; /*Creates column template, this one column takes 100% of the space*/
    grid-template-rows: auto 1fr; /*Create a second row to its default one child row, its height is automatically determined */
    gap: 1rem;
    background-color:aquamarine;
    justify-content:center;
}

.aside{
    background-color:darkcyan;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    height:20%;
}
.aside-2 {
    background-color:cadetblue;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    height:20%;
}

.centered-paragraph { /*Text element in the first row to be centered, isn't right now, its sitting in the first row first column, instead of first row second column*/
    justify-self: center;
    text-align: center;
}


.content-item { /*Individual 'articles' arranged in a row, but three different columns*/
    background-color: #ff0000;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    width:20%;
}

@media (min-width: 768px) { 
    .wrapper { /*Main Wrapper to wrap the asides and main -content*/
        display: grid; 
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: "aside main-content aside-2";
        gap: 1rem;
    }

    .aside { 
        grid-area: aside;
    }

    .main-content {
        grid-area: main-content;
        display: grid;
        grid-template-rows: auto 1fr; /*Create a second row to its default one child row, its height is automatically determined */
        gap: 1rem;
    }
    
    .aside-2 {
        grid-area: aside-2;
    }
}

/*gridlayout for the main-content and its subwrapper*/
.main-content {
    display: grid;
    grid-template-rows: auto 1fr; 
    gap: 1rem;
}

.content-item-container { /*Secondary wrapper, to put each content-item in its own column in the same row.*/
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*Create three columns, each 1 fractional unit */
    gap: 1rem;
}